DJANGO_SECRET_KEY=replace-with-strong-secret
DJANGO_DEBUG=0
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost,your-domain.com
CSRF_TRUSTED_ORIGINS=https://your-domain.com,https://www.your-domain.com
CORS_ALLOWED_ORIGINS=https://your-frontend-domain.com

POSTGRES_DB=habit_tracker
POSTGRES_USER=habit_user
POSTGRES_PASSWORD=replace-with-strong-db-password
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432

CELERY_BROKER_URL=redis://127.0.0.1:6379/0
CELERY_RESULT_BACKEND=django-db

USE_SQLITE_FOR_TESTS=0
